# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\xampp\htdocs\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
../bank/
../dashboard/
../img/
../webalizer/
../xampp/
../applications.html
../bitnami.css
../favicon.ico
../index.php
../.idea/